*
{
    margin:0;
    padding:0;
}


.fullheight-div
{
    height:100%;
}

.container
{
    margin: 0 auto;
    max-width: 1280px;
}

.description-header
{
    text-align: left;
    font-size: x-large;
    margin: auto auto 30px auto;
}

.description-body
{
    text-align: justify;
    clear: both;
    font-size: large;
    padding: 5px;
}

.btn-link-next
{
    border-radius: 0px;
    background-color: #000000;
}

.btn-link-next :hover
{
    background-color: #333000;
    color: #000000;
}

.group-buttons
{
    margin: 0 auto;
    text-align: center;
}

