<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plots.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% block headblock %}
        {% endblock %}
    </head>
    <body>
        <div>
          <div class='container-fluid black-div header-area'>
              <header>
                  <div class='header-name'>
                      <h1>Dashboard</h1>
                  </div>
              </header>
          </div>  
          <div class='container-fluid black-div'>
              <ul class="header-ul">
                  <li class="header-li">
                    <a class="anchor-headerstyle" href="#">Ranking</a>
                  </li>
                  <li class="header-li">
                    <a class="anchor-headerstyle" href="#">Detalhamento</a>
                  </li>
                  <li class="header-li">
                    <a class="anchor-headerstyle" href="#">Comparação</a>
                  </li>
                </ul>
          </div>
            <main>

            </main>
            {% block content %}
            {% endblock %}

            <div class='container-fluid black-div footer-center'>
                UNIRIOTEC
            </div>
        </div>
    </body>
</html>