{% extends "base.html" %}
{% block headblock %}
    <link rel='stylesheet' href="{{ url_for('static', filename='css/camara.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- HIGHCHARTS LIBRARY -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/treemap.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/br/br-all.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/item-series.js"></script>
    <script src="https://code.highcharts.com/modules/funnel.js"></script>


    <!-- HIGHCHARTS LIBRARY -->

    <script src="{{ url_for('static', filename='js/camara.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="main-div">
        <div class= 'çontainer'>
            <div class='row'>
                <div class='col-sm-2'>
                </div>
                <div class='col-sm-4'>
                </div>
                <div class='col-sm-2'>
                </div>
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='container'>
                    <div class='row'>
                        <h1>A Câmara</h1>
                    </div>
                </div>
                <div class='container'>
                    <div class='row'>
                        Cabe aos deputados federais, portanto, as responsabilidades de representar os interesses do povo ao participar de votações de proposições no Plenário, 
                        comparecer aos eventos da Câmara (sessões ordinárias, audiências públicas, etc.), fiscalizar a aplicação adequada dos recursos públicos, discutir e votar o orçamento da União, 
                        discutir e propor novas leis em benefício à população e a seu estado.
                        <br>
                        Os benefícios concedidos aos deputados que dão suporte às suas atividades são salário mensal de R$ 33.763,00, 
                        auxílio-moradia de R$ 4.253,00 ou apartamento gratuito para morar, verba mensal de R$ 111.675,59 para contratar até 25 funcionários, 
                        de R$ 30.788,66 a R$ 45.612,53 mensais (dependendo do estado) referentes à Cota para o Exercício da Atividade Parlamentar, 
                        para gastos com alimentação, aluguel de veículo e escritório, divulgação do mandato, entre outras despesas.
                        No mapa abaixo, são mostrados os montantes de cota parlamentar que os deputados de cada estado têm direito.
                    </div>
                </div>
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-12' id='mapChartArea'>

                </div>
            </div>
            <div id='mapLegislatureSelect' class='legislature-select'>

            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='container'>
                    <div class='row'>
                        <h1>Diversidade</h1>
                    </div>
                </div>
                <div class='container'>
                    <div class='row'>
                        <div class='col-sm-4'>
                            a representatividade por gênero é exibida no gráfico ao lado. Ao passar o mouse por cima dos ícones,
                            é exibida a quantidade de deputados para cada sexo.
                        </div>
                        <div class='col-sm-8' id='gender-chart-container'>
                            <div id= 'genderChart'></div>
                            <div class="legislature-select">
                              <div class="btn-group">
                                <button class="btn btn-dark btn-time-select" type="button" name="select-53" id="gender-leg-53">Legislatura 53</button>
                                <button class="btn btn-dark btn-time-select" type="button" name="select-54" id="gender-leg-54">Legislatura 54</button>
                                <button class="btn btn-dark btn-time-select" type="button" name="select-55" id="gender-leg-55">Legislatura 55</button>
                                <button class="btn btn-dark btn-time-select" type="button" name="select-56" id="gender-leg-56">Legislatura 56</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='container'>
                    <div class='row'>
                        <h1>Profissões</h1>
                    </div>
                </div>
                <div class='container'>
                    <div class='row'>
                        <div class='col-sm-4'>
                            Nesse gráfico é exibida a proporção das profissões exercidas pelos deputados da Câmara. O tamanho da caixa indica a 
                            representatividade de cada profissão. É possível ver a quantidade exata de deputados por profissão ao passar o mouse 
                            por cima das caixas.
                        </div>
                        <div class='col-sm-8'>
                            <div class='container'>
                                <div class='row'>
                                    <div class='col-sm-12' id='professionChartData'>

                                    </div>
                                </div>
                                <div class='container'>
                                    <div class='row centered-profession'>
                                        <div id='profession-select'>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='container'>
                    <div class='row'>
                        <h1>Escolaridade</h1>
                    </div>
                </div>
                <div class='container'>
                    <div class='row'>
                        <div class='col-sm-4'>
                            O gráfico ao lado exibe a distribuição do grau de escolaridade dos deputados. Esse cone é 
                            ordenado de cima para baixo, estando no topo o grau de escolaridade da maioria dos deputados.
                        </div>
                        <div class='col-sm-8'>
                            <div class='container'>
                                <div class='row'>
                                    <div class='col-sm-12' id='schoolingChartData'>

                                    </div>
                                </div>
                                <div class='container'>
                                    <div class='row centered-shooling'>
                                        <div id='schooling-select'>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='container'>
                    <div class='row'>
                        <h1>Gastos</h1>
                    </div>
                </div>
                <div class='container'>
                    <div class='row'>
                        <div class='col-sm-4'>
                            Aqui são somadas todas as despesas feitas pelas deputados
                            utilizando a cota parlamentar para cada legislatura
                        </div>
                        <div class='col-sm-8'>
                            <div class='container'>
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <div class='container total-spent-centered' id='totalSpentContainer'>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class='container'>
                                    <div class='row total-spent-centered'>
                                        <div id='spentLegislatureSelect'>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
{% endblock %}
