{% extends "base.html" %}
{% block headblock %}
  <title>Câmara Interativa</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <script type="text/javascript" src= "{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
{% block content %}
  <div id='main-div' class="main-div">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1>Sobre</h1>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              A Câmara Interativa é um projeto criado para aproximar os cidadãos de seus representantes
              eleitos mostrando informações sobre as atividades dos deputados federais. Com o objetivo de
              aumentar o interesse e o uso dos canais de transparência disponibilizados pelos órgãos 
              públicos. Essa aplicação usa 
              gráficos simples acompanhados de descrições claras, para que você possa interpretar 
              rapidamente o que é mostrado.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1>Metodologia</h1>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              A nota final do deputado é obtida através da média ponderada de três componentes. Os indicadores Legislador, Fiscalizador e Transparente. Os dois primeiros indicadores foram escolhidos, pois configuram-se de uma obrigação constitucional do parlamentar, devendo constar na avaliação [Dantas 2013] enquanto a motivação do terceiro indicador dá-se pelo papel representativo do deputado: como voz do povo, estar próximo do cidadão,
              consolidando um canal direto capaz de apresentar aquilo que de fato está sendo feito, é bastante necessário.
              Porém, cabe a você dicidir os pesos desses indicadores no cálculo da nota final. Contudo, os indicadores Legislador e Fiscalizador devem ter, no mínimo cada, peso de 30% da nota final enquanto o indicador Transparente deve ter, no mínimo, peso de 20%. Sobram então 20% para serem distribuir entre os indicadores.
              <br><br>
              Para o indicador Legislador, são consideradas três componentes: produção legislativa, presença em votações nominais e presenças em reuniões ordinárias de comissões permanentes;<br>
              Para o indicador Fiscalizador, considera-se um componente: adesão a comissões de inquérito efetivamente instaladas; e<br>
              Para o indicador Transparente, considera-se também um componente: presença em reuniões de audiências públicas;<br>
              Esses conceitos e a base dessa metodologia foram retirados do livro <a href="http://www.votoconsciente.org.br/wp-content/uploads/2013/02/LIVRO-FINAL-_-MVC-KAS.pdf">"De olho no Legislativo: Um método para aocmpanhar mandatos parlamentares"</a> de Dantas.

              <br><br>
              Para mais detalhes sobre o cálculo e justificativas, por favor acessar este <a href="https://docs.google.com/document/d/1OdkHfcbsitMhOKh3rqmb5eK26mz8Sww2TAQ2wz_YzvI/edit?usp=sharing">documento</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1>Explore</h1>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              É possível acessar visualizações gerais que mostram a situação da Câmara como um todo,
              ver detalhes sobre as atividades de um deputado em específico, como suas despesas e 
              frequência em compromissos, ou fazer comparações de desempenho entre deputados. Além disso,
              cada um pode construir sua própria avaliação de desempenho para aplicar nos deputados, 
              ajustando a importância que cada critério tem para a nota final.
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-dark" type="button" name="btnExplore" id="btn-explore">Ver mais</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
