{% extends "base.html" %}
{% block headblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <script type="text/javascript" src= "{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
{% block content %}
  <div id='main-div' class="main-div">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1>Sobre</h1>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              A Câmara Interativa é um projeto criado para aproximar os cidadãos de seus representantes
              eleitos mostrando informações sobre as atividades dos deputados federais. Com o objetivo de
              aumentar o interesse e o uso dos canais de transparência disponibilizados pelos órgãos 
              públicos. Essa aplicação usa 
              gráficos simples acompanhados de descrições claras, para que você possa interpretar 
              rapidamente o que é mostrado.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1>Metodologia</h1>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              Suspendisse eget placerat enim, at porttitor orci. Integer feugiat ipsum eu erat lacinia, sit amet venenatis justo sagittis. Vestibulum tempus purus et suscipit auctor. Cras porta, odio et posuere mollis, lectus ante tincidunt enim, vehicula tempus justo metus auctor quam. Sed erat dolor, placerat sed mi non, ultrices scelerisque lectus. Donec rhoncus dui ut interdum luctus. Nulla rutrum molestie mi, sed tempor eros ullamcorper vel. Quisque eget quam ac lectus finibus dapibus nec vitae leo. Mauris viverra est ligula, et semper justo scelerisque id. Suspendisse posuere cursus magna, ultrices consectetur felis luctus ac. Maecenas eget nunc eget nisi rutrum posuere. Pellentesque porttitor orci ut massa tristique hendrerit. Mauris turpis arcu, porttitor nec malesuada non, varius et odio. Quisque dictum, libero eget blandit tincidunt, ex mauris rhoncus leo, et varius ante sem in orci. Phasellus vel urna quis nisi sollicitudin posuere vel quis sem.
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1>Explore</h1>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              É possível acessar visualizações gerais que mostram a situação da Câmara como um todo,
              ver detalhes sobre as atividades de um deputado em específico, como suas despesas e 
              frequência em compromissos, ou fazer comparações de desempenho entre deputados. Além disso,
              cada um pode construir sua própria avaliação de desempenho para aplicar nos deputados, 
              ajustando a importância que cada critério tem para a nota final.
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-dark" type="button" name="btnExplore" id="btn-explore">Ver mais</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
