{% extends "base.html" %}
{% block headblock %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="main-div">
        <div class='container-fluid'>
            <div class='container'>
                <div class='row white-div fullheight-div'>
                    <div class='.col-sm-8'>
                        <div class='row'>
                            <div class='description-header'>
                                <h1>Lorem Ipsum</h1>
                            </div>
                            <div class='description-body'>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ipsum metus, pharetra ut imperdiet vel, condimentum vehicula ante. Cras maximus, felis et ullamcorper malesuada, dolor mauris tincidunt ante, at faucibus lectus arcu ac velit. Aenean tincidunt sapien risus, posuere pellentesque tortor faucibus quis. Nam ac est id metus ultricies maximus. Vivamus luctus vulputate lorem vel facilisis. Maecenas eu scelerisque sapien, in euismod risus. Aliquam tincidunt lectus a risus sagittis, quis dapibus quam porttitor.
    
                                    In et fermentum augue. Aenean id libero facilisis, consectetur orci ac, aliquet est. Quisque lorem leo, faucibus quis neque vel, laoreet ullamcorper orci. Praesent dignissim diam a varius suscipit. Praesent quis lacus quis purus fermentum hendrerit ut in elit. Suspendisse in consectetur enim. Fusce vehicula felis vitae lorem mollis, eu fringilla lectus ornare. Fusce malesuada orci dictum elit placerat sollicitudin. Nunc tincidunt sodales aliquet. Aenean dictum eget diam sit amet pellentesque.
                                    
                                    Sed at fringilla risus. Quisque vehicula ipsum a felis vehicula iaculis. Morbi a faucibus tortor. Morbi augue orci, interdum quis ullamcorper non, mollis ac quam. Maecenas sodales nunc tortor, at scelerisque turpis efficitur eget. Suspendisse potenti. Sed in consectetur justo. Nulla molestie sem nec odio finibus aliquam.
                                    
                                    Maecenas a nunc sodales, consequat leo nec, commodo lectus. Fusce lobortis commodo posuere. Duis euismod, risus sed rutrum hendrerit, quam felis luctus purus, non mattis enim velit commodo sem. Mauris eleifend, nunc vel mollis feugiat, erat orci dictum erat, vitae aliquet massa ante quis sapien. Curabitur at gravida magna. Aliquam lacus enim, mattis id ex eget, condimentum sodales elit. Nullam iaculis, magna et mattis dapibus, ante sapien lobortis purus, et venenatis ex arcu in tortor. Donec eget felis eu risus laoreet suscipit. Nam quis scelerisque magna. Integer eget commodo arcu. Donec ac sem et purus aliquam tristique vel et dolor. Nulla sodales tellus id pellentesque euismod. Suspendisse auctor augue at diam gravida, eget maximus nisl lacinia. In at pharetra sem. Vestibulum in dui in tellus ultrices sagittis et nec dolor.
                            </div>
                        </div>
                        <div class='row'>
                            <div class='description-header'>
                                <h1>Lorem Ipsum</h1>
                            </div>
                            <div class='description-body'>
                                    Lorem ipsum dolor sit {{ deputy.profession }} {{ deputy.id_register }} {{ deputy.name }} amet, consectetur adipiscing elit. Praesent ipsum metus, pharetra ut imperdiet vel, condimentum vehicula ante. Cras maximus, felis et ullamcorper malesuada, dolor mauris tincidunt ante, at faucibus lectus arcu ac velit. Aenean tincidunt sapien risus, posuere pellentesque tortor faucibus quis. Nam ac est id metus ultricies maximus. Vivamus luctus vulputate lorem vel facilisis. Maecenas eu scelerisque sapien, in euismod risus. Aliquam tincidunt lectus a risus sagittis, quis dapibus quam porttitor.
    
                                    In et fermentum augue. Aenean id libero facilisis, consectetur orci ac, aliquet est. Quisque lorem leo, faucibus quis neque vel, laoreet ullamcorper orci. Praesent dignissim diam a varius suscipit. Praesent quis lacus quis purus fermentum hendrerit ut in elit. Suspendisse in consectetur enim. Fusce vehicula felis vitae lorem mollis, eu fringilla lectus ornare. Fusce malesuada orci dictum elit placerat sollicitudin. Nunc tincidunt sodales aliquet. Aenean dictum eget diam sit amet pellentesque.
                                    
                                    Sed at fringilla risus. Quisque vehicula ipsum a felis vehicula iaculis. Morbi a faucibus tortor. Morbi augue orci, interdum quis ullamcorper non, mollis ac quam. Maecenas sodales nunc tortor, at scelerisque turpis efficitur eget. Suspendisse potenti. Sed in consectetur justo. Nulla molestie sem nec odio finibus aliquam.
                                    
                                    Maecenas a nunc sodales, consequat leo nec, commodo lectus. Fusce lobortis commodo posuere. Duis euismod, risus sed rutrum hendrerit, quam felis luctus purus, non mattis enim velit commodo sem. Mauris eleifend, nunc vel mollis feugiat, erat orci dictum erat, vitae aliquet massa ante quis sapien. Curabitur at gravida magna. Aliquam lacus enim, mattis id ex eget, condimentum sodales elit. Nullam iaculis, magna et mattis dapibus, ante sapien lobortis purus, et venenatis ex arcu in tortor. Donec eget felis eu risus laoreet suscipit. Nam quis scelerisque magna. Integer eget commodo arcu. Donec ac sem et purus aliquam tristique vel et dolor. Nulla sodales tellus id pellentesque euismod. Suspendisse auctor augue at diam gravida, eget maximus nisl lacinia. In at pharetra sem. Vestibulum in dui in tellus ultrices sagittis et nec dolor.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='container-fluid'>
            <div class='group-buttons'>
                    <a href="#">Link</a>
            </div>
        </div>
    </div>
{% endblock %}