{% extends "base.html" %}
{% block headblock %}
  <title>Ranking</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <script type="text/javascript" src= "{{ url_for('static', filename='js/home.js') }}"></script>  
  <script type="text/javascript" src= "{{ url_for('static', filename='js/ranking.js') }}"></script>

{% endblock %}
{% block content %}
  <div id='main-div' class="main-div">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1>Ranking dos deputados federais</h1>
              <h4>Ordenação da maior nota pela menor nota, de acordo com o cálculo que você elaborou. Você escolheu
              os seguintes pesos: </h4>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              A Câmara Interativa é um projeto criado para aproximar os cidadãos de seus representantes
              eleitos mostrando informações sobre as atividades dos deputados federais. Com o objetivo de
              aumentar o interesse e o uso dos canais de transparência disponibilizados pelos órgãos 
              públicos. Essa aplicação usa 
              gráficos simples acompanhados de descrições claras, para que você possa interpretar 
              rapidamente o que é mostrado.
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8">
                    <table>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>Indicador Legislador</th>
                        <th>Indicador Fiscalizador</th>
                        <th>Indicador Transparente</th>
                      </tr>
                      {% for iterator in range(lenDeputies) %}
                      <tr>
                        <td> {{iterator + 1}} </td>
                        <td>
                          <img src="{{ ranking[53][iterator]['urlFoto'] }}" alt="foto de {{ ranking[53][iterator]['nome'] }}">
                          <span>{{ ranking[53][iterator]['nome'] }} {{ranking[53][iterator]['partido'] }} {{ ranking[53][iterator]['uf'] }}</span>
                        </td>
                        <td>
                          {{ranking[53][iterator]['legislador']}}
                        </td>
                        <td>
                          {{ranking[53][iterator]['fiscalizador']}}
                        </td>
                        <td>
                          {{ranking[53][iterator]['transparente']}}
                        </td>
                        <td>
                          {{ranking[53][iterator]['finalScore']}}
                        </td>
                      </tr>
                      {% endfor %}
                    </table>
                    
                      <!-- <div class="container">
                        <div class="row">
                          <div class="col-sm-3">
                            
                          </div>
                          <div class="col-sm-3">
                            <img src="{{ ranking[53][iterator]['urlFoto'] }}" alt="foto de {{ ranking[53][iterator]['nome'] }}">
                          </div>
                          <div class="col-sm-6">
                            <span>{{ranking[53][iterator]['finalScore']}}</span><br>
                            <span>{{ ranking[53][iterator]['nome'] }} {{ranking[53][iterator]['partido'] }} {{ ranking[53][iterator]['uf'] }}</span>
                          </div>
                        </div>
                      </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
